@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap'); 

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;
    min-width: 1280px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Neucha';
    font-size: large;
}

.page {
    width: 100%;
    height: 100%;
    min-width: 1280px;
    
    background: url(images/backgroung.png);
    background-size: cover;
    background-repeat: no-repeat;
    
    display: flex;
}

.menu {
    min-width: 300px;
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #2f225980;
}

.menu-header {
    margin-top: 10px;
    margin-left: 10px;

    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
}

.menu-header-icon {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.menu-header-title {
    font-size: 30px;
    color: white;
}

.menu-link {
    margin-top: 10px;
    margin-left: 10px;

    text-decoration: none;
    font-size: 30px;
    color: white;
}

.menu-footer {
    color: white;
    font-size: large;
    margin-left: 20px;
    margin-top: 700px;
}

.area {
    width: -webkit-calc(100% - 300px);
    min-width: 980px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    padding: 20px;

    height: 85%;
    width: 1500px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background: #00000080;

    border: 1px solid transparent;
    border-radius: 25px;
}

.left-col {
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.image {
    width: 80%;
    height: 45%;

    border: 5px solid transparent;
    border-radius: 25px;
}

.right-col {
    width: 49%;
    height: 100%;
}

.info {
    color: white;
    font-size: 30px;
    margin-top: 70px;
}

ul {
    list-style-type: square;
    font-size: 30px;
}

li {
    color: white;
}

.install-button {
    color: white;
    border: 2px solid #ffffff;
    border-radius: 16px;
    font-size: 40px;
    padding: 7px 20px;
    margin-left: 200px;
    background-color:#ff3759;
    margin-top: 20px;
    width: 340px;
    height: 80px;
}